<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial;
            background-color: white;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <form method="POST">
        <label for="">Title   :</label>
        <input name="title" type="text"><br><br>
        <label for="">content :</label>
        <input name="content" type="text"><br><br>
        <label for="">slug    :</label>
        <input name="slug" type="text"><br><br>
        <button>submit</button>
        
    </form>
</body>
</html>